<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Tamo
  </h1>
  <mat-form-field>
    <input
      type="text"
      [(ngModel)]="pokemonName"
      matInput
      placeholder="Tamo Name"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let pokemon of allPokemon" [value]="pokemon">{{
        pokemon
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br />
  <button mat-raised-button (click)="get_types()">Suchen</button>
</div>
